/* Add your styles here */

/* for the whole body of the html */
html,
body {
   height: 100%;
   width: 100%;
   margin: 0;
   font-family: 'Montserrat';
}

header {
   display: flex;
   margin-top: 1.2em;
}

/* to style the "Header" div in the html */
.hero-section {
   color: #fff;
   background-image: linear-gradient(to right, #1f242b 70%, #2ad882 30%);
   background-size: cover;
   padding: 3em 0 0 0;
   display: flex;
   flex-direction: column;
   gap: 6em;
   justify-content: space-between;
}
/* .hero-section::before {
   content: url(./images/dots.png);
   position: absolute;
   z-index: 1;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
} */

.navigation {
   padding: 0 100px;
   display: flex;
   justify-content: space-between;
   align-content: flex-start;
   gap: 120px;
}

.navigation > .name-logo {
   font-size: 22px;
   font-weight: 700;
   display: flex;
   align-items: center;
}

.navigation > ul {
   color: #1f242b;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   gap: 1em;
   align-items: center;
}

.headline-container {
   margin-left: 242px;
   display: flex;
   flex-direction: column;
}
/* .headline-container::before {
   content: url(./images/dots.png);
   position: relative;
   z-index: 1;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
} */

.pre-headline {
   margin-bottom: 17px;
   font-size: 23px;
   font-weight: 500;
   color: #2ad882;
}

.headline {
   font-size: 72px;
   font-weight: 800;
   line-height: 1.1;
}

.headshot-img {
   width: 550px;
   height: 528px;
   position: relative;
}

/* this selects specifically ALL the link elements in the html regardless of  */
/* where they are located in the three */
.navigation > ul > li > a,
.navigation > .name-logo > a {
   text-decoration: none;
   color: #1f242b;
   font-size: 20px;
}

/* to set a hover property over all the links in the html */
.navigation > ul > li > a:hover,
.navigation > .name-logo > a:hover {
   opacity: 0.5;
}

.headline-container > .position {
   margin-top: 80px;
   display: flex;
}

.headline-container > .position > div {
   font-size: 12px;
   font-weight: 600;
   border: #2ad882 2px solid;
   padding: 10px 10px 10px 20px;
}

.arrow-container {
   /* padding: 5px; */
   background-color: #2ad882;
   display: flex;
   align-items: center;
   justify-content: center; /* Added to center the arrow */
}
.down-arrow {
   width: 0;
   height: 0;
   margin: 5px;
   border-left: 18px solid transparent;
   border-right: 18px solid transparent;
   border-top: 25px solid #1f242b;
}
.arrow-move {
   position: relative;
   animation: move 2s ease-in-out infinite;
}
@keyframes move {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(10px); /* Adjusted for downward motion */
   }
   100% {
      transform: translateY(0);
   }
}

/* About Me Section styling */

.about-me {
   padding: 8em 0 8em 0;
   background-color: #1f242b;
   color: #fff;
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 100px;
}

.about-me > img {
   margin-left: 10em;
   width: 450px;
   height: 530px;
   box-shadow: -30px 30px 0px 1px #2ad882;
}

.about-me-info {
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.subheadline {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.subheadline > .text {
   font-size: 2.4rem;
   font-weight: 800;
}

.subheadline > .horizontal-line > hr {
   margin: 0;
   padding: 0;
   width: 350px;
   height: 4px;
   border: 0;
   background-color: #2ad882;
}

.about-me-text,
.education-text,
.my-skills-text {
   margin-right: 9em;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
}

.cta-container {
   display: flex;
   gap: 1em;
}

.cta-container > a {
   text-decoration: none;
   width: 9em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.cta-container > a:hover {
   opacity: 50%;
}

.cta-container > .hire-me {
   font-size: 16px;
   font-weight: 700;
   padding: 10px;
   color: #1f242b;
   background-color: #2ad882;
}

.cta-container > .hire-me > .secondary-text {
   color: #1f242b;
   font-size: 14px;
   font-weight: 400;
}

.cta-container > .download-cv {
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   padding: 20px;
   background-color: transparent;
   border: 2px solid #2ad882;
}

/* Work Experience Styling */
.work-experience {
   padding: 6em 0 7.5em 0;
   background-color: #1f242b;
   color: #fff;
   display: flex;
   flex-direction: column;
   gap: 2.4em;
}

.work-experience > .subheadline,
.roles {
   margin-left: 10em;
}

.work-experience > .subheadline > .horizontal-line > hr {
   width: 42em;
}

.roles {
   display: flex;
   gap: 2.4em;
}

.role > img {
   background-color: #fff;
   width: 300px;
   height: 300px;
}

.role-info > .role-title {
   font-size: 1.3em;
   font-weight: 700;
   margin-top: 1em;
}

.role-info > .role-description {
   margin-top: 0.25em;
   color: #2ad882;
   font-size: 0.8em;
   font-weight: 400;
   line-height: 1.5;
}

/* Education section styling */

.education {
   position: relative;
   padding: 6em 0 7.5em 0;
   background-color: #1f242b;
   color: #fff;
   display: flex;
   gap: 4em;
}
.education::before {
   content: '';
   position: absolute;
   z-index: 1;
   left: 0; /* Aligns the shape to the left edge of the div */
   bottom: 0; /* Aligns the shape to the bottom of the div */
   background-color: #2ad882;
   width: calc(100% - 20em); /* Adjusted to fit the width of the div */
   max-width: 37em;
   height: 20em;
   display: grid;
   place-content: center;
   text-indent: 0;
}

.education-images {
   margin-left: 15em;
   z-index: 2;
   display: flex;
   gap: 2em;
}

.education-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.education-info > .subheadline > .horizontal-line > hr {
   width: 20em;
}

.education-info > .emphasis {
   margin: 1em 0 1.5em 0;
   color: #2ad882;
   text-transform: uppercase;
   font-size: 1.2em;
   font-weight: 700;
}

/* Reviews Styling */
.reviews-section {
   padding: 6em 0 7.5em 0;
   background-color: #1f242b;
   color: #fff;
   display: flex;
   flex-direction: column;
   gap: 4em;
}

.reviews-section > .subheadline,
.reviews {
   margin-left: 12em;
}

.reviews-section > .subheadline > .horizontal-line > hr {
   width: 42em;
}

.review {
   position: relative;
   width: 25em;
   padding: 2em;
   border: 2px solid #2ad882;
}

.review::after {
   content: url(./images/close-quote.png);
   position: absolute;
   z-index: 1;
   left: 90%;
   top: -2px;
   transform: translate(-50%, -50%);
   background-color: #2ad882;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: grid;
   place-content: center;
   text-indent: 0;
}

.client {
   display: flex;
   align-items: center;
}

.client > img {
   border-radius: 50%;
   border: 5px solid #2ad882;
}

.client-info {
   margin-left: 1em;
}

.client-info > .name {
   font-size: 1.2em;
   font-weight: 700;
   text-transform: uppercase;
}

.client-info > .position {
   display: flex;
   align-items: center;
   margin-top: 0.5em;
   font-size: 0.8em;
   font-weight: 400;
}

.client-info > .position > img {
   width: 2em;
   height: 2em;
}

.review-text {
   margin-top: 2em;
   font-size: 0.9em;
   font-weight: 400;
   line-height: 1.5;
}

/* My Skills styling */

.my-skills {
   padding: 8em 0 8em 0;
   background-color: #1f242b;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.my-skills > .horizontal-line > hr {
   margin: 0 0 23.5em 0;
   padding: 0;
   width: 10em;
   height: 0.15em;
   border: 0;
   background-color: #2ad882;
}

.my-skills > img {
   margin-right: 10em;
   width: 340px;
   height: 400px;
   box-shadow: 30px 30px 0px 1px #2ad882;
}

.my-skills-info {
   margin-left: 4em;
   display: flex;
   flex-direction: column;
}

.my-skills-text {
   margin-top: 2em;
   margin-bottom: 1.5em;
}

.skill {
   margin-top: 1em;
   display: flex;
   align-items: center;
   gap: 1em;
}

.skill > .skill-name {
   font-size: 1.2em;
   font-weight: 600;
}

.skill > .skill-icons {
   font-size: 1.5em;
   color: #2ad882;
}

/* Personal Projects Styling */

.personal-projects {
   padding: 4em 0 5.5em 0;
   background-color: #1f242b;
   color: #fff;
   display: flex;
   flex-direction: column;
   gap: 2.4em;
}

.personal-projects > .subheadline,
.projects-and-images {
   margin-left: 10em;
}

.personal-projects > .subheadline > .horizontal-line > hr {
   width: 42em;
}

.projects-and-images {
   display: flex;
   gap: 2.4em;
   justify-content: space-around;
}

.projects-and-images > .projects {
   display: flex;
   flex-direction: column;
   gap: 2em;
   justify-content: center;
}

.project-title {
   color: #2ad882;
   font-size: 1.3em;
   font-weight: 700;
}

.project-description {
   font-size: 0.8em;
   font-weight: 400;
   line-height: 1.5;
}

.projects > .learn-more {
   color: #2ad882;
   font-size: 0.8em;
   font-weight: 700;
   font-style: italic;
}

.projects > .learn-more > a {
   text-decoration: none;
   color: #2ad882;
}
.projects > .learn-more > a::hover {
   opacity: 50%;
}

.projects-and-images > .images {
   /* display: flex; */
   width: 50%;
   height: 50%;
}

.arrow {
   border: solid #2ad882;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
}

.right {
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}

/* Contact Me Styling */

.contact-me {
   padding: 8em 0 8em 0;
   background-color: #1f242b;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 100px;
}

.contact-me > img {
   margin-left: 10em;
   width: 30%;
   height: 30%;
   box-shadow: -30px 30px 0px 1px #2ad882;
   translate: 0.5s;
}

.contact-me-info {
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.contact-me-info > .subheadline > .horizontal-line > hr {
   width: 25em;
}

.contact-methods-and-means {
   display: flex;
}

/* Footer Styling */

.footer-section {
   color: #fff;
   background-image: linear-gradient(to left, #1f242b 70%, #2ad882 30%),
      url(./images/header-background-image.jpg);
   background-size: cover;
   padding: 8em 0 8em 0;
   display: flex;
   gap: 3em;
   justify-content: space-between;
   align-items: center;
}

.footer-section > .footer-image {
   margin-left: 12em;
   height: 30%;
   width: 30%;
}

.footer-container {
   display: flex;
   flex-direction: column;
}

.pre-headline {
   margin-bottom: 17px;
   font-size: 23px;
   font-weight: 500;
   color: #2ad882;
}

.footer-container > .subheadline > .text {
   font-size: 3.6em;
   font-weight: 800;
   line-height: 1.1;
}

.footer-container > .cta-container > a {
   text-decoration: none;
   width: 12em;
}

.footer-container > .cta-container > .download-cv {
   font-size: 0.9em;
   font-weight: 700;
   padding: 0.2em;
   color: #1f242b;
   background-color: #2ad882;
   border: none;
}

.footer-container > .cta-container > .hire-me {
   color: #fff;
   font-size: 0.9em;
   font-weight: 700;
   padding: 0.5em;
   background-color: transparent;
   border: 2px solid #2ad882;
}
.footer-container > .cta-container > .hire-me > .secondary-text {
   color: #fff;
   font-size: 0.8em;
   font-weight: 400;
}

.footer-text {
   margin-right: 12em;
   font-size: 1em;
   font-weight: 400;
   line-height: 1.5;
}

/* similar to what was explained in line 10 */
.footer {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(11, 12, 16);
   padding: 20px;
   background-color: #c5c6c7;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
